@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-shape-divider-bottom-1721978976 {
    position:;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721978976 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 185px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1721978976 .shape-fill {
    fill: #32555d;
}


